/tools/
/samples/physTest
/samples/*/develop
/samples/*/game*
/samples/dngSceneViewer/viewer*
/samples/*/tools
/samples/*/application.blk
/samples/outerSpace/develop
/samples/outerSpace/game*
/samples/outerSpace/tools
/samples/outerSpace/fmod_project
/samples/outerSpace/application.blk
/_output/
/prog/platform.jam
*.pyc
*.das.inl
*.dshl.log
ShaderLog-*
